# Operational buildout
# ====================
#
# This is the default production setup. It configures host names, ports and
# users for the various web servers managed in base.cfg.
#
# This file based on the Über Buildout Mark II.
#
# Copyright 2010 California Institute of Technology. ALL RIGHTS RESERVED. U.S.
# Government sponsorship acknowledged

# Overrides
# ---------
#
# In the following sections you can override users, ports, passwords, etc.,
# for operations.  And, in fact, you *should*, as the default passwords for
# Supervisor and Zope are stupid.

# Operational Zope
# ~~~~~~~~~~~~~~~~
#
# Settings for the administrative access username and password to the Zope
# application server.
[instance-settings]
username = zope-admin
password = admin

# Operational Supervisor
# ~~~~~~~~~~~~~~~~~~~~~~
#
# Settings for the administrative access username and password for the Supervisor
# process monitor.
[supervisor-settings]
user     = supervisor-admin
password = password 

# Operational Host Name for HTTP/1.1 VHosting
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# If for any reason the public hostname of the EDRN public portal is not going
# to be edrn.nci.nih.gov, change this.
[hosts]
main = edrn.nci.nih.gov

# Operational Ports
# ~~~~~~~~~~~~~~~~~
#
# If for any reason the EDRN public portal won't serve http and https on
# standard ports, adjust these.
[ports]
main = 80
ssl  = 443

# Operational Effective User IDs
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Set the account name for the effective user IDs for the various processes.
# Common settings are "bin", "daemon", "www", etc.  Debian uses "www-data".
# SUSE seem to prefer "wwwrun", FreeBSD has "www", Mac OS X likes "_www", and
# RHEL seems to prefer "apache".  Make sure the corresponding group also exists.
[users]
main       = wwwrun
cache      = wwwrun
balancer   = wwwrun
transform  = wwwrun
zope       = wwwrun
supervisor = wwwrun

# For building Haproxy
# ~~~~~~~~~~~~~~~~~~~~
#
# Choices for cpu are: i686, i586, i386, ultrasparc, or generic.
# Choices for target are: linux22, linux24, linux24e, linux26, solaris,
# freebsd, openbsd, cygwin, or generic.
[build]
cpu    = generic
target = generic


# Buildout Infrastructure
# -----------------------
#
# Nothing needs changing here.
[buildout]
extensions                = buildout.dumppickedversions
dump-picked-versions-file = versions/last-operations-versions.cfg
extends = 
    base.cfg
    versions/known-good-versions.cfg
    versions/edrn-public-portal.cfg

