# EDRN Portal Base Buildout
# =========================
#
# Base settings for the EDRN public portal.  Provides defaults and basic settings
# needed to run the portal.
[versions]
# Do not upgrade to 8.0 because non-PEP-440 version strings in elementree-1.2.7-20070827-preview will break
setuptools = 7.0
# Do not upgrade beyond 2.3.0 because that requires setuptools 8
zc.buildout = 2.2.5


[buildout]
update-versions-file = versions/known-good-versions.cfg
newest               = false
unzip                = true
versions             = versions
extends =
    build.cfg
    ../versions/dists.cfg
    ../versions/edrn-public-portal.cfg
    ../versions/appserver.cfg
    sources.cfg
base-parts =
    lxml
    rdflib
    feedparser
    openldap-config
    openldap-certs
    zeoserver
    supervisor
    instance-debug
    backup
eggs =
    python-ldap
    Plone
    Pillow
    edrnsite.policy
    Products.PloneHotfix20160419
zcml =
allow-hosts =
    dist.plone.org
    pypi.python.org
    oodt.jpl.nasa.gov
    effbot.org
    www.rdflib.net
    googlecode.com
    code.google.com
    feedparser.googlecode.com


# Project-specific version pins
# -----------------------------
[versions]
# 0.3.2 of Products.LoginLockout possibly broken; trying 0.3
Products.LoginLockout = 0.3
# To support edrnsite.vanity, which uses nifty/new Dexterity image fields
plone.namedfile = 2.0.1
# All RDF code based on older rdflib still
rdflib = 2.4.2
# For eea.faceted, apparently
collective.js.jqueryui = 1.8.16.9
# Fix vulnerability in PloneFormGen
Products.PloneFormGen = 1.7.11
# Ensure compatibility with Mac OS X Mavericks (10.9) which includes Subversion 1.7
setuptools = 4.0.1
zc.buildout = 2.2.1
mr.developer = 1.26
# I'm not ready for the latest
eea.facetednavigation = 6.8
eea.faceted.vocabularies = 4.8
eea.jquery = 7.7


# Zope instance settings
# ----------------------
#
# Common settings for all Zope instances
[instance-settings]
debug-mode            = off
effective-user        = ${users:zope}
environment-vars      = LDAPCONF ${openldap-config:output}
eggs                  = ${buildout:eggs}
ip-address            = localhost
shared-blob           = on
user                  = ${:username}:${:password}
username              = admin
password              = admin
zcml                  = ${buildout:zcml}
zeo-address           = ${zeoserver:zeo-address}
zeo-client            = true
zeo-client-cache-size = 300MB
zodb-cache-size       = 10000


# Supervisor settings
# -------------------
#
# Username and password to access the supervisord.
[supervisor-settings]
password = admin
user     = admin


# Hosts
# -----
#
# Interfaces to bind to, public names to use.
[hosts]
cache           = 127.0.0.1
instance-debug  = 127.0.0.1
instance1       = 127.0.0.1
public-hostname = edrn.nci.nih.gov
supervisor      = 127.0.0.1
syslog          = 127.0.0.1
zeo-server      = 127.0.0.1

# Ports
# -----
#
# Where to listen.
[ports]
cache          = 8301
cache-control  = 8302
instance-debug = 8080
instance1      = 8401
instance1-icp  = 8401
supervisor     = 9001
zeo-monitor    = 8512
zeo-server     = 8511


# OS Users
# --------
#
# Effective user IDs to use.  Unix only.
[users]
cache    = www
zeo      = www
zope     = www


# Executables
# -----------
[executables]
openssl = /usr/bin/openssl

